.idea
out

# ignore big files
data/lab01/testSet
data/lab01/RESULT

# env files
hw15.properties
*.out

# gradle
.gradle
/build/

# Package Files #
*.jar
*.war
*.ear

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

## File-based project format:
*.iws